.auth-page {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #001529;

  .auth-form {
    max-width: 90%;
    margin-top: 25px;
    margin-bottom: 25px;

    @media (max-width: 576px) {
      max-width: 100%;
    }

    .auth-form-header {
      text-align: center;
      margin-bottom: 20px;
      color: #ffffff;

      h1 {
        margin: 0;
        color: inherit;
        font-size: 32px;
        text-transform: uppercase;
      }
    }

    form {
      width: 450px;
      max-width: 100%;
      background: #ffffff;
      padding: 35px;
      border-radius: 15px;

      @media (max-width: 576px) {
        border-radius: 0;
      }

      .ant-alert {
        margin-bottom: 16px;
      }

      .ant-form-item {
        .ant-form-item-label {
          padding-bottom: 2px;
        }

        .ant-input-prefix {
          opacity: 0.6;
        }

        .ant-input {
          font-size: 14px;
        }

        .ant-form-item-explain {
          position: relative;
          top: auto;

          .ant-form-item-explain-error {
            font-size: 12px;
          }
        }

        &.form-actions {
          margin: 0;

          .ant-form-item-row {
            width: 100%;
          }

          .ant-btn {
            text-transform: uppercase;
          }
        }
      }
    }

    .extra-actions {
      margin-top: 20px;
      text-align: right;
      padding-top: 16px;
      border-top: 1px solid #ddd;
    }
  }
}
