@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  height: 100%;
  position: relative;
  text-align: left;
  position: relative;
  overflow-x: hidden;
  font-style: normal;
  font-optical-sizing: auto;
}
